<div class="row">
  <h1>Add Fermentable</h1>

  <%= form_for @fermentable, url: "/fermentables" do |f| %>
    <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.submit "Create Fermentable", class: "button tiny success" %>
  <% end %>
</div>