<div class="home">
  <img src="assets/homepage1.jpg" id="bg" alt="">
      <div class="transparent-overlay">
      </div>
      <div class="home-overlay">
        <a href="<%= new_user_session_path %>"><img src="assets/carboy_blue.png"></a>
      </div>
</div>