/* Global Overrides */

.container {
  background-image: url('/assets/body_background.png');
  background-size: cover;
  background-repeat:no-repeat;
}

td {
  text-align: left;
}

#float_nav_right {
  position: fixed;
  right: 0;
  top: 85%;
  margin-top: -2.5em;
  text-align: left;
}


/* Homepage */

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.transparent-overlay {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(31,94,35,0.5); 
  z-index: 1;
}

.home-overlay {
  position: relative;
  z-index: 1;
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.home-overlay img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-overlay:hover img {
  background-image: url('/assets/carboy_grey.png')
}


/* Item Show */

.item-image {
  width: 350px;
}

.left-block {
  text-align: center;
}

.left-block table {
  margin: 0 auto;
}

.header {
  font-weight: bold;
  text-align: left;
}

.technicals-header {
  margin-top: -17px;
  margin-bottom: -3px;
}

/* Edit Profile */
.cancel_account {
  padding-top: 10px;
  padding-left: 5px;
}

/* Edit Beer */
.grey_background {
  padding: 10px;
  background-color: lightgrey;
}